.exchange_box{
  .card{
    border: 0;
    .card-header{
      background-color: #4682B4;
      border-radius: 0;
      color: white;
      font-weight: 700;
    }
    .card-body{
      padding-top: 10px;
      background-color: #CDB38B;
      padding: 20px;
      .title{
        color: black;

      }
      .btn-exchange{
        background-color: #5bc0de;
        border-color: #5bc0de;
        border-radius: 0;
      }
    }
  }
}